#include "resource.h"
#include <windows.h>
#include <commctrl.h>
#include <aygshell.h>

IDR_APP_MENUBAR RCDATA
BEGIN
    IDR_APP_MENU,
    2,
    I_IMAGENONE, APP_CMD_BACK, TBSTATE_ENABLED,
        TBSTYLE_AUTOSIZE | TBSTYLE_BUTTON, IDS_APP_BACK, 0, NOMENU,
    I_IMAGENONE, APP_CMD_MENU, TBSTATE_ENABLED,
        TBSTYLE_AUTOSIZE | TBSTYLE_DROPDOWN, IDS_APP_MENU, 0, 0,
END

IDR_APP_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Back", APP_CMD_BACK, GRAYED
        MENUITEM "Forward", APP_CMD_FORWARD, GRAYED
        MENUITEM "Home", APP_CMD_HOME
        MENUITEM "Open Address", APP_CMD_ADDRESS
        MENUITEM "Refresh", APP_CMD_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Exit", APP_CMD_EXIT
    END
END

STRINGTABLE
BEGIN
    IDS_APP_BACK "Back"
    IDS_APP_MENU "Menu"
END
